<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awebber.grocery" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activites.SearchActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <provider
            android:name=".data.GroceryContentProvider"
            android:authorities="com.example.awebber.grocery"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name=".activites.DetailActivity"
            android:label="@string/title_activity_grocery_detail"
            android:parentActivityName=".activites.SearchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.SearchActivity" />
        </activity>
        <activity
            android:name=".activites.MainActivity"
            android:label="@string/title_activity_grocery_main" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.InventoryActivity"
            android:label="@string/title_activity_grocery_inventory" >
        </activity>
        <activity
            android:name=".activites.CategoryActivity"
            android:label="@string/title_activity_grocery_category" >
        </activity>
        <activity
            android:name=".activites.CategoryAddActivity"
            android:label="@string/title_activity_grocery_add_category"
            android:parentActivityName=".activites.CategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.CategoryActivity" />
        </activity>
        <activity
            android:name=".activites.CategoryTabsActivity"
            android:label="@string/title_activity_grocery_cateogory_tabs" >
        </activity>
        <activity
            android:name=".activites.EditInventoryItemActivity"
            android:label="@string/title_activity_edit_inventory_item"
            android:parentActivityName=".activites.InventoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.InventoryActivity" />
        </activity>
    </application>

</manifest>
